@using TBRPG_1.Game.Lib

<div class="default-text border-text">@Name</div>
<div class="bar-grid-container">
    <PercentTextBar Capture=@PercentBackedCapture></PercentTextBar>
    <PercentBar Capture=@BoxCapture></PercentBar>
</div>

@code {

    [Parameter]
    public string Name { get; set; } = "Enemy";

    public Action<object> BoxCapture = e =>
    {
        var hold =(e as PercentBar);
        hold.AddClass("horizontal-thin");
        int width = hold.Box.Width;
        int height = hold.Box.Height;
        int x = hold.Box.X;
        int y = hold.Box.Y;

        hold.Box = new Rectangle
        {
            Width = 300,
            Height = 4,
            X = x,
            Y = y
        };
    };
    
    public Action<object> PercentBackedCapture = e =>
    {
        PercentTextBar hold;
        hold = (e as PercentTextBar);
        if (hold is null) return;
        hold.Box.Width = 300;
        
        Task.Delay(1000).ContinueWith(async (e) =>
        {
            while (hold.ChangePercent(2) > 0)
            {
                await Task.Delay(80);
            }
            Console.WriteLine("done");
        });
    };

}