@using System.Drawing
@inherits PercentBar

@RenderItem

@code {

    public string BoxBackground { get; set; } = "gray";
    public void SetBackgroundColor(string color) => BoxBackground = color;

    public override RenderFragment Bar  =>
        @<div class="bar" 
              style=@($"{SizingPercent}" 
                      +$"{string.Join("; ", ElementStyleMap[nameof(Bar)])}")></div>;

    public RenderFragment BackBar =>
        @<div class="bar" 
              style=@($"{SizingPercent}" 
                      +$"{string.Join("; ", ElementStyleMap[nameof(BackBar)])}")></div>;
    
    public override Dictionary<string, string> ElementStyleMap { get; set; }
    
    public override RenderFragment[] Bars => new RenderFragment[]
    {
        BackBar,
        Bar
    };

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
    }

    public PercentBackedBar()
    {
        ElementStyleMap = new Dictionary<string, string>
        {
            {nameof(Bar), "transition: width 0.3s ease"},
            {nameof(BackBar), $"background-color: {BoxBackground};" + $"transition: width 1s ease;"},
        };
    }
    
}
